
<center><h3><p>Bine ați venit pe pagina noastră!</p></h3></center>
<h2><b>Ce este BioFresh?</b></h2>

<ul>
  BioFresh a luat ființă din dorința sinceră ca oamenii să consume o hrană sănătoasă, să se bucure de viață și de darurile naturii.<br />
  Vă invităm să experimentați starea de bine, să iubiți viața și să petreceți la noi un timp minunat. Biofresh vă ofera un meniu ce raspunde în egală măsură cerințelor nutriționale, alimentației sănătoase și plăcerilor gustative.<br />
  Toate preparatele se fac pe loc, cu ingrediente proaspete, fără aditivi și conservanți, combinațiile dintre ingrediente corespunzând celor mai noi studii legate de nutriție, compatibilitate și alimentație echilibrată. Utilizăm<br />
  doar ulei de măsline extravirgin, sare de mare neiodată, suc de lămâie (nu otet) și mirodenii organice. Atât pâinea, mălaiul cât și pastele sunt din făină integrală, ecologică, fără afânători sau alte ingrediente chimice.Nu folosim cuptor cu microunde, alimente conservate sau semipreparate.<br />
  Iubitorii de deserturi sunt răsfățați cu o colecție generoasă de deserturi crude, unice, în combinații compatibile, pline de culori, armonie și rafinament. Deserturile sunt de origine vegetală ( nu conțin ouă, lapte sau unt)<br />
  și nu sunt procesate termic. Acestea nu conțin nici gluten, aditivi, conservanți sau zahăr. Ne bazăm pe ingrediente sănătoase precum: sâmburi, nuci, semințe, fructe uscate, fructe proaspete și miere. Mierea este polifloră, de munte și ecologică,<br />
  la fel ca și celelalte produse apicole pe care le utilizăm: polen, păstură, lăptișor, apilarnil.<br />
  La BioFresh noi folosim un condiment special: iubirea față de clienții noștri, pe care o presăram din abundență pe toate preparatele.<br />
  Suntem deschiși oricăror sugestii din partea dumneavoastră, atâta timp cât nu contravin principiilor legate de alimentația sănătoasă.<br />
</ul>

<h2><b>Cu ce ne ocupăm?</b></h2>
<ul>
  Vrem sa oferim oamenilor o hrana sanatoasa si incercam sa daruim celorlalti stiinta si cunostiintele noastre legate de tot ce tine de sanatate si echilibru. <br />
  Incercam sa oferim ceea ce natura ofera, folosind cat mai multe produse organice (miere, paine, paste, quinoa, cous cous, condimente, legume, salata, cafea, vin)<br />
  Am dedicat mare parte din timpul nostru acumularii de informatii despre nutritie, studiile oamenilor daruiti ce daruuiesc mai departe.<br />
  Credem cu tarie ca alimentatia este unul dintre cele mai importante aspecte ce tin de sanatatea oamenilor si dorim sa va aratam ca schimbarea este simpla si usoara atunci cand se face cu pasiune.<br />
  Bruschete gustoase, salatele proaspete, supe cremoase, specialitati de legume, paste apetisante si deserturi delicioase acestea sunt o parte din preparatele noastre.<br />
  Sa nu uitam de minunatele combinatii de sucuri sau de ineditele noastre preparate crude.<br />
</ul>

<h2><b>De ce să te delectezi cu preparatele noastre?</b></h2>
<ul>
  Deserturile noastre sunt sanatoase si intr o combinatie desavarsita de gusturi, arome, culori.<br />
  Nu uitilizam faine, zahar, produse lactate, coloranti sau alti aditivi. Au in compozitie nuci, seminte, samburi, fructe uscate care aduc maxim de nutrienti.<br />
  Un alt secret de al nostru este ca nu sunt coapte in cuptor ci sunt servite crude.<br />
  Nu uita ca daca ai nevoie, iti putem face aproape orice tort la comanda si binenteles ca il putem personaliza dupa cum doresti.<br />
</ul>

